source "Kconfig.zephyr"

config ZMK_POINTING
    bool
    default y

config ZMK_BLE
    bool
    default n

config ZMK_HID_REPORT_TYPE_HKRO
    bool
    default y

config ZMK_HID_REPORT_TYPE_NKRO
    bool
    default n

config ZMK_HID_CONSUMER_REPORT_USAGES_FULL
    bool
    default y

config ZMK_HID_CONSUMER_REPORT_USAGES_BASIC
    bool
    default n

config ZMK_HID_KEYBOARD_REPORT_SIZE
    int
    default 6

config ZMK_HID_CONSUMER_REPORT_SIZE
    int
    default 1
